@using Mercurius.Common.Helpers
@model List<Mercurius.Common.BusinessModel.ProductSoldViewModel>

<div class="card card-flush h-100">
    <div class="card-header pt-7">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-bold text-dark">Items Sold Today (@DateTime.Now.ToString(DateTimeHelper.DateFormatWithMonthString))</span>
            <span class="text-gray-400 mt-1 fw-semibold fs-6">Total @(Model.Sum(c => c.Quantity).ToString("N0")) Items Sold Today</span>
        </h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table align-middle table-row-dashed fs-6 gy-3">
                <thead>
                    <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                        <th class="min-w-100px">SKU</th>
                        <th class="pe-3 min-w-100px">Item Name</th>
                        <th class="text-end pe-0 min-w-25px">Qty</th>
                    </tr>
                </thead>
                <tbody class="fw-bold text-gray-600">
                    @foreach (var s in Model)
                    {
                        <tr>
                            <td>@s.PartCode</td>
                            <td><span class="text-dark">@s.ItemName</span></td>
                            <td class="text-end"><span class="text-dark fw-bold">@s.Quantity</span></td>
                        </tr>
                    }
                    @if (!Model.Any())
                    {
                        <tr><td colspan="3" class="text-center text-muted">No items sold yet today.</td></tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
